.road-content {
  width: 80%;
  margin: auto;
  padding-bottom: 50px; 
}
.road-content h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  font-weight: 600;
}
.road-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}
.road-col-2 {
  flex-basis: 40%;
}
.road-col-1 ul li {
  line-height: 30px;
}

@media(max-width: 700px){
  .road-row{
    flex-direction: column;
  }
  .road-col-2 iframe {
    width: 100%;
  }
}